
.nav {
  background-color: #88CCFD;
  height: 30px;
  width: 80px;
  text-align: center;
  line-height: 2;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.action {
  background-color: #88CCFD;
  height: 25px;
  width: 50px;
  text-align: center;
  line-height: 1.5;
  border-radius: 3px;
  cursor: pointer;
}

.insert-person {


  .ant-form-item {
    margin-bottom: 8px;
  }

  .page-nick {
    padding: 8px;
  }
}

insert-record {

}

